<div class="col-xs-10 col-xs-offset-1">
  <h1>Available Offer Games at Chess Play</h1>
  <div class="col-xs-10 col-xs-offset-1">
  <% @offers.each do |o| %>
    <%= o.days_per_turn %>
    <%= o.play_as %>
    <%= o.rated %>
    <%= link_to 'Play Now', offer_path(o) %>
  <% end %>
  </div>
</div>
